[1. General]

## Enables devcommands and debugmode on the server console and for authorized admins.
# Setting type: Boolean
# Default value: true
Server devcommands = true

[2. Console]

## Enables console commands execution.
# Setting type: Boolean
# Default value: true
Enabled = true

